name: Pull Request Workflow

on:
  pull_request:
    branches: [ master ]  # 仅当 Pull Request 目标分支是 main 时触发

jobs:
  Run_Milvus:
    strategy:
      fail-fast: false
      matrix:
#        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
        os: ["windows-latest", "macos-latest"]
    runs-on: ${{ matrix.os }}

    outputs:
      host: ${{ steps.db_info.outputs.host }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4  # 检出代码

      - if : runner.os == 'macOS'
        name: Environment dependence
        uses: ./.github/actions/dependence
        with:
          java: "11"

      - if : runner.os != 'macOS'
        name: Environment dependence
        uses: ./.github/actions/dependence
        with:
          java: "8"

#      - name: Run DB
#        uses: ./.github/actions/dbRunner
#        with:
#          DB-name: "VectorDB"
      - name: pwd
        shell: bash
        run: |
          pwd

#          /d/a/test/test

      - if : runner.os == 'Windows'
        uses: vedantmgoyal9/setup-wsl2@main

      - if : runner.os == 'Windows'
        run: apt update && apt upgrade -y
        shell: wsl-run {0}

      - name: Run DB
        uses: ./.github/actions/dbRunner
        with:
          DB-name: "VectorDB"


      - if : runner.os != 'Windows'
        name: Network test
        shell: bash
        run: |
          docker ps
               
          for port in 19530 19531 19532; do
            if netstat -an | grep -q ".*:$port.*LISTEN"; then
              echo "Port $port is open."
            else
              echo "Port $port is not open."
            fi
          done
          
          docker ps -a

      - if : runner.os == 'Windows'
        name: Network test on Windows
        shell: bash
        run: |
          for port in 19530 19531 19532; do
            if netstat -an | grep -q ".*:$port.*LISTEN"; then
              echo "Port $port is open."
            else
              echo "Port $port is not open."
            fi
          done

      - if : runner.os == 'macOS'
        name: replace host
        shell: bash
        run: |
          docker inspect -f '{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}}' milvus19530-standalone
          ifconfig en0 | grep "inet " | awk '{print $2}'
          ls
          colima status| grep "address:"|awk '{print $4}'|tr -d '"'
          MILVUS_HOST=$(ifconfig en0 | grep "inet " | awk '{print $2}')
          MILVUS_HOST="192.168.106.2"
          echo "MILVUS_HOST=${MILVUS_HOST}"
          sed -i"" -e "s/127.0.0.1/192.168.106.2/g" src/main/java/org/example/MilvusTest.java
          sed -i"" -e "s/127.0.0.1/192.168.106.2/g" src/main/java/org/example/MilvusTest1.java
          sed -i"" -e "s/127.0.0.1/192.168.106.2/g" src/main/java/org/example/MilvusTest2.java
          ifconfig

      - name: Run tests
        shell: bash
        run: |
          mvn clean package
          mvn test